target/
.idea/
.settings/
screenshot/
.DS_Store
.AppleDouble
.LSOverride
._*
.classpath
.project
*.log
hs_err_pid*
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
/src/test/resources/drivers/chromedriver
/src/test/resources/drivers/chromedriver.exe
/src/test/resources/drivers/geckodriver
/src/test/resources/drivers/geckodriver.exe
